 <div class="container-fluid">
     <br />

     <form class="form-inline" style="text-align:center;" role="form" [formGroup]="filtroForm">

         <div class="form-group two-fields">
             <div class="form-group">
                 <label style="font-weight: normal !important;">Filtro</label>&nbsp;&nbsp;
                 <input type="text" class="form-control" formControlName="filtro" placeholder="Nombre:">&nbsp;
             </div>
         </div>

         <div class="form-group">
             <input type="checkbox" class="form-check-input" formControlName="pagosanticipados" />
             <label style="font-weight: normal !important;">Mostrar solo clientes de pagos anticipados</label>&nbsp;
         </div>

         <div class="form-group">
             <button class="btn btn-info btn-fill" (click)="onSubmit()">Aceptar</button>
             <button class="btn btn-info btn-fill" routerLink="">Salir</button>
         </div>

     </form>

     <div class="row">
         <div class="col-md-12">
             <div class="card card-plain">
                 <div class="content table-responsive table-full-width">
                     <!--Data table Clientes Filtro-->
                     <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="filtroList">
                         <thead>
                             <tr>
                                 <th>Clave Cliente</th>
                                 <th>Nombre Cliente</th>
                                 <th>Pagos Anticipados</th>
                                 <th>Correos Cliente</th>
                                 <th>Correo Reseller</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr *ngFor="let clientes of filtroList">
                                 <td>{{ clientes.clave_cliente }}</td>
                                 <td>{{ clientes.nombre_cliente }}</td>
                                 <td>{{ clientes.pagos_anticipados }}</td>
                                 <td>{{ clientes.correos_cliente }}</td>
                                 <td>{{ clientes.correo_reseller }}</td>
                             </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
</div>