#login {
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    padding: 25px;
    width: 500px;
    height: 450px;
    background: white;
    text-align: left;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.modal {
    max-height: calc(100% - 240px);
    overflow-y: scroll;
}
