
<div *ngIf="identity">
    <div class="wrapper">
        <div id="login">
            <div class="header">
                <h2 class="title">Login</h2>
            </div>
            <div class="content">
                <form role="form" [formGroup]="loginForm">
                    <div class="form-group">
                        <label style="font-weight: normal !important;">Nombre de usuario</label>
                        <input type="text" class="form-control" formControlName="usuario" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" placeholder="Usuario" />
                        <div *ngIf="submitted && f.usuario.errors" class="alert alert-danger" role="alert">
                            <!--<div *ngIf="f.usuario.errors.required">Usuario requerido</div>-->
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Usuario requerido
                        </div>
                    </div>
                    <div class="form-group">
                        <label style="font-weight: normal !important;">Contrase&ntilde;a</label>
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Contrase&ntilde;a" />
                        <div *ngIf="submitted && f.password.errors" class="alert alert-danger" role="alert">
                            <!--<div *ngIf="f.usuario.errors.required">Usuario requerido</div>-->
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            Contrase&ntilde;a requerida
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info btn-fill" (click)="isLogin()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!identity">
    <div class="wrapper">
        <div class="sidebar" data-color="orange" data-image="">
            <app-sidebar></app-sidebar>
        </div>

        <div class="main-panel">
            <navbar-cmp></navbar-cmp>
            <router-outlet></router-outlet>
            <!--<div *ngIf="isMap('maps')">
                <footer-cmp></footer-cmp>
            </div>-->
        </div>
    </div>
</div>

 <!--The Modal 
<div class="modal" id="myModal" #content>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="content">
                    <p>Est&aacute; seguro(a) de continuar con esta operaci&oacute;n ?</p>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12" style="text-align: right;">
                        <button (click)="opcionSi()">Si</button>
                        <button mat-button (click)="closeModalDialog()">No</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>-->









