<div class="modal-body">
    <div class="content">
        <p>- El cambio de Cliente ha sido generado</p><br />
        <p>- El Complemento de Pago debe generarse en este momento desde el sistema Merksyst</p><br />
        <p>
            - ATENCI&Oacute;N !!!<br />
            - ATENCI&Oacute;N !!!<br />
            - ATENCI&Oacute;N !!!
        </p><br />
        <p>UNA VEZ GENERADO EL COMPLEMENTO DE PAGO ES NECESARIO DESHACER DE INMEDIATO EL CAMBIO DE CLIENTE</p>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-12" style="text-align: right;">
            <button mat-button (click)="opcionSi()">Aceptar</button>
        </div>
    </div>
</div>
