
<div class="container-fluid">
    <br />
    <form class="form-inline" role="form" [formGroup]="dataForm">
        <div style="text-align:center;">
            <div class="form-group">
                <label style="font-weight: normal !important;">Clientes</label>&nbsp;
                <select class="form-control" (change)="changeParam($event)" formControlName="opcion" id="opciones">
                    <option value="Pepsico">Pepsico</option>
                    <option value="KOF">KOF</option>
                    <option value="Heineken">Heineken</option>
                </select>
                &nbsp;&nbsp;&nbsp;
            </div>

            <div class="form-group two-fields">
                <div class="form-group">
                    <label style="font-weight: normal !important;">Opciones</label>&nbsp;
                    <input type="text" class="form-control" formControlName="parameter1" placeholder="Del Folio:">
                    <input type="text" class="form-control" formControlName="parameter2" placeholder="Al:">&nbsp;&nbsp;&nbsp;
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-info btn-fill" (click)="onSubmit()">Aceptar</button>
                <button class="btn btn-info btn-fill" (click)="exportAsXLSX()">Exportar</button>
                <button class="btn btn-info btn-fill" (click)="openDialog()">Limpiar</button>&nbsp;&nbsp;
                <button class="btn btn-info btn-fill" routerLink="">Salir</button>
            </div>
        </div>
        <br />
        <div class="form-group" style="text-align: left; margin-left: 60px !important;">
            <div *ngIf="isShown" id="opsheineken">
                <p>Opciones Heineken:</p>
                <input type="radio" formControlName="radioParam" id="inst" value="instalaciones">
                <label style="display:inline; font-weight: normal;">Instalaciones</label>&nbsp;&nbsp;

                <input type="radio" formControlName="radioParam" id="desinst" value="desinstalaciones">
                <label style="display:inline; font-weight: normal;">Desinstalaciones</label>
            </div>
        </div>
    </form>

    <table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="empList">
        <thead>
            <tr>
                <th>EmployeeId</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empList">
                <td>{{ emp.employeeId }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.gender }}</td>
                <td>{{ emp.department }}</td>
                <td>{{ emp.city }}</td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="content table-responsive table-full-width">

                    <!--Datatable KOF-->
                    <div *ngIf="isMostrar">
                        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="kofList">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Técnico</th>
                                    <th>Económico</th>
                                    <th>VIN</th>
                                    <th>Duplicado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let kof of kofList">
                                    <td>{{ kof.folio }}</td>
                                    <td>{{ kof.tecnico }}</td>
                                    <td>{{ kof.economico }}</td>
                                    <td>{{ kof.vin }}</td>
                                    <td>{{ kof.duplicado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Datatable Desinstalaciones-->
                    <div *ngIf="isMostrarD">
                        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="desinstList">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Técnico</th>
                                    <th>Lugar</th>
                                    <th>Fecha Instalación</th>
                                    <th>Económico</th>
                                    <th>VIN</th>
                                    <th>Placa</th>
                                    <th>No. Serie Go</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Final</th>
                                    <th>Fecha Cierre</th>
                                    <th>Duplicado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let desinst of desinstList">
                                    <td>{{ desinst.folio }}</td>
                                    <td>{{ desinst.tecnico }}</td>
                                    <td>{{ desinst.lugar }}</td>
                                    <td>{{ desinst.fecha_instalacion }}</td>
                                    <td>{{ desinst.economico }}</td>
                                    <td>{{ desinst.vin }}</td>
                                    <td>{{ desinst.placa }}</td>
                                    <td>{{ desinst.num_seriego }}</td>
                                    <td>{{ desinst.fecha_inicio }}</td>
                                    <td>{{ desinst.fecha_final }}</td>
                                    <td>{{ desinst.fecha_cierre }}</td>
                                    <td>{{ desinst.duplicado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Datatable Instalaciones-->
                    <div *ngIf="isMostrarI">
                        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="instList">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>Técnico</th>
                                    <th>Lugar</th>
                                    <th>Fecha Instalación</th>
                                    <th>Tipo Instalación</th>
                                    <th>Cliente</th>
                                    <th>Económico</th>
                                    <th>VIN</th>
                                    <th>Placa</th>
                                    <th>Año</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>No. Serie Go</th>
                                    <th>Tipo Arnes</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Final</th>
                                    <th>Fecha Cierre</th>
                                    <th>Duplicado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let inst of instList">
                                    <td>{{ inst.folio }}</td>
                                    <td>{{ inst.tecnico }}</td>
                                    <td>{{ inst.lugar}}</td>
                                    <td>{{ inst.fecha_instalacion }}</td>
                                    <td>{{ inst.tipo_instalacion }}</td>
                                    <td>{{ inst.cliente }}</td>
                                    <td>{{ inst.economico }}</td>
                                    <td>{{ inst.vin }}</td>
                                    <td>{{ inst.placa }}</td>
                                    <td>{{ inst.year }}</td>
                                    <td>{{ inst.marca }}</td>
                                    <td>{{ inst.modelo }}</td>
                                    <td>{{ inst.num_seriego }}</td>
                                    <td>{{ inst.tipo_arnes }}</td>
                                    <td>{{ inst.fecha_inicio }}</td>
                                    <td>{{ inst.fecha_final }}</td>
                                    <td>{{ inst.fecha_cierre }}</td>
                                    <td>{{ inst.duplicado }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Datatable Pepsico-->
                    <div *ngIf="isMostrarP">
                        <table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="pepsicoList">
                            <thead>
                                <tr>
                                    <th>Folio</th>
                                    <th>CEDIS</th>
                                    <th>Región CEDIS</th>
                                    <th>Gamesa/Sabritas</th>
                                    <th>Nombre Cliente</th>
                                    <th>Cerrado el</th>
                                    <th>Tipo Instalación</th>
                                    <th>Empresa Técnico</th>
                                    <th>Técnico</th>
                                    <th>Ecónomico</th>
                                    <th>Placa</th>
                                    <th>VIN</th>
                                    <th>No. Serie Go</th>
                                    <th>Fecha Inicial</th>
                                    <th>Fecha Final</th>
                                    <th>Fecha Cierre</th>
                                    <th>Tiempo Hasta Cierre</th>
                                    <th>Duplicado</th>
                                    <th>No. Serie Suntech</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pepsico of pepsicoList">
                                    <td>{{ pepsico.folio }}</td>
                                    <td>{{ pepsico.cedis }}</td>
                                    <td>{{ pepsico.region_cedis }}</td>
                                    <td>{{ pepsico.gamesa_sabritas }}</td>
                                    <td>{{ pepsico.nombre_cliente }}</td>
                                    <td>{{ pepsico.cerrado_el }}</td>
                                    <td>{{ pepsico.tipo_instalacion }}</td>
                                    <td>{{ pepsico.empresa_tecnico }}</td>
                                    <td>{{ pepsico.tecnico }}</td>
                                    <td>{{ pepsico.economico }}</td>
                                    <td>{{ pepsico.placa }}</td>
                                    <td>{{ pepsico.vin }}</td>
                                    <td>{{ pepsico.num_seriego }}</td>
                                    <td>{{ pepsico.fecha_inicio }}</td>
                                    <td>{{ pepsico.fecha_final }}</td>
                                    <td>{{ pepsico.fecha_cierre }}</td>
                                    <td>{{ pepsico.tiempo_cierre }}</td>
                                    <td>{{ pepsico.duplicado }}</td>
                                    <td>{{ pepsico.num_seriesuntech }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
