<h1>Desinstalaciones Heineken</h1>

<p *ngIf="!desinstList"><em>Loading...</em></p>

<table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="desinstList">
  <thead>
    <tr>
      <th>Folio</th>
      <th>Técnico</th>
      <th>Lugar</th>
      <th>Fecha Instalación</th>
      <th>Económico</th>
      <th>VIN</th>
      <th>Placa</th>
      <th>No. Serie Go</th>
      <th>Fecha Inicio</th>
      <th>Fecha Final</th>
      <th>Fecha Cierre</th>
      <th>Duplicado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let desinst of desinstList">
      <td>{{ desinst.folio }}</td>
      <td>{{ desinst.tecnico }}</td>
      <td>{{ desinst.lugar }}</td>
      <td>{{ desinst.fecha_inst }}</td>
      <td>{{ desinst.economico }}</td>
      <td>{{ desinst.vin }}</td>
      <td>{{ desinst.placa }}</td>
      <td>{{ desinst.num_seriego }}</td>
      <td>{{ desinst.fecha_inicio }}</td>
      <td>{{ desinst.fecha_final }}</td>
      <td>{{ desinst.fecha_cierre }}</td>
      <td>{{ desinst.duplicado }}</td>
      <!--<a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
      <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>-->
    </tr>
  </tbody>
</table>
