
<div class="modal-body">
    <div class="content">
        <form role="form" [formGroup]="editProfileForm">
            <fieldset>
                <legend>Cliente</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input matInput [(ngModel)]="data.numerocliente" class="form-control" readonly formControlName="numerocliente">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input matInput [(ngModel)]="data.nombrecliente" class="form-control" readonly formControlName="nombrecliente">
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Correos Actuales</label>
                        <textarea matInput [(ngModel)]="data.correosactuales" rows="5" class="form-control" readonly formControlName="correosactuales"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label >Correos Nuevos</label>
                        <textarea matInput [(ngModel)]="data.correosnuevos" rows="5" class="form-control" formControlName="correosnuevos" [ngClass]="{ 'is-invalid': submitted && g.correosnuevos.errors }" ></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
            <mat-checkbox  [(ngModel)]="data.pagos" formControlName="pagos">Pagos Anticipados</mat-checkbox>
            </div>

        </form>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-6" style="text-align: left;">
            <button mat-button class="btn btn-success" (click)="onEnviar()">Aplicar</button>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <button mat-button class="btn btn-danger" [mat-dialog-close]="data">Cerrar</button>
        </div>
    </div>
</div>