<h1>Listado KOF</h1>

<p *ngIf="!kofList"><em>Loading...</em></p>

<!--<p>
    <a [routerLink]="['/register-employee']">Create New</a>
</p>-->

<table datatable [dtOptions]="dtOptions" class="row-border hover" *ngIf="kofList">
    <thead>
        <tr>
            <th>Folio</th>
            <th>Técnico</th>
            <th>Económico</th>
            <th>VIN</th>
            <th>Duplicado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kof of kofList">
            <td>{{ kof.folio }}</td>
            <td>{{ kof.tecnico }}</td>
            <td>{{ kof.economico }}</td>
            <td>{{ kof.vin }}</td>
            <td>{{ kof.duplicado }}</td>
                <!--<a [routerLink]="['/employee/edit/', emp.employeeId]">Edit</a> |
                <a [routerLink]="" (click)="delete(emp.employeeId)">Delete</a>-->
        </tr>
    </tbody>
</table>
