<h1>Listado Checklist</h1>

<p *ngIf="!checkList"><em>Loading...</em></p>

<table datatable [dtOptions]="dtOptions" class="row-border hover" style="width:100%" *ngIf="checkList">
    <thead>
      <tr>
        <th>Folio</th>
        <th>Instalador</th>
        <th>Tipo Instalación</th>
        <th>Vehículo Región</th>
        <th>CEDIS</th>
        <th>Fecha Inicio</th>
        <th>Fecha Hora</th>
        <th>Porciento</th>
        <th>Unidad Neg.</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>VIN</th>
        <th>GO</th>
        <th>Código Vehículo</th>
        <th>Número Eco.</th>
        <th>Serial</th>
        <th>Placa</th>
        <th>Año</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let check of checkList">
        <td>{{ check.folio }}</td>
        <td>{{ check.instalador }}</td>
        <td>{{ check.tipo_instalacion }}</td>
        <td>{{ check.veh_region }}</td>
        <td>{{ check.cedis }}</td>
        <td>{{ check.fecha_inicio }}</td>
        <td>{{ check.fecha_hora }}</td>
        <td>{{ check.porciento }}</td>
        <td>{{ check.unidad_neg }}</td>
        <td>{{ check.marca }}</td>
        <td>{{ check.modelo }}</td>
        <td>{{ check.vin }}</td>
        <td>{{ check.go }}</td>
        <td>{{ check.codigo_veh }}</td>
        <td>{{ check.num_eco }}</td>
        <td>{{ check.serial }}</td>
        <td>{{ check.placa }}</td>
        <td>{{ check.year }}</td>
        <td>{{ check.color }}</td>
      </tr>
    </tbody>
</table>
