<div class="modal-body">
    <div class="content">
        <p>El Cliente tiene Aplicaciones pendientes de Terminar:</p><br />
        <p>{{data.opcion}}</p><br />     
        <p>Desea Terminar (SI) o Cancelar (CANCELAR) la Aplicaci&oacute;n Anterior?</p>
    </div>
</div>

<div class="modal-footer">
    <div class="row">
        <div class="col-md-12" style="text-align: right;">
            <button mat-button (click)="dialogRef.close('yes')">Si</button>
            <button mat-button (click)="opcionNo()">No</button>
            <button mat-button (click)="dialogRef.close('cancelar')">Cancelar</button>  
        </div>
    </div>
</div>
